<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>John Clem</string>
	<string>Brad Johnson</string>
	<string>Jeff Gayle</string>
	<string>Leonardo Lee</string>
	<string>Mike Tirenin</string>
	<string>Victor Adu</string>
	<string>Kirby Shabaga</string>
	<string>Collin Atherton</string>
	<string>Alex Rice</string>
	<string>Dan Hoang</string>
</array>
</plist>
